streamlit
streamlit-option-menu
streamlit_extras
streamlit-lottie
python-docx
pandas
numpy
plotly
pillow
python-dotenv
pdfminer.six
nltk
scikit-learn
sqlalchemy
openpyxl
requests
spacy
PyPDF2
langchain==0.0.302
openai==1.14.1
tiktoken==0.5.2
faiss-cpu==1.7.4
selenium
